*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    color:cornsilk;
    background-color:cadetblue;
}

img {
    width:50%;
    padding:20px;
    height:auto;
    border: 1px solid white;
}

#index {
    display: flex;
}

li {
    flex: 1 1 auto;
}